{% extends "base.html" %}

{% block conteudo %}

    

<div class="container-fluid">
    
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Ajuda</h1>
        
    </div>
   

    <div class="col-lg-10">

        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Como cadastrar uma visita?</h6>
            </div>
            <div class="card-body">
                Vá na tela inicial do sistema, em seguida clique no botão <strong>Registar visitante</strong> no canto superior direito.
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Como ver o registro de um visitante?

                </h6>
            </div>
            <div class="card-body">
                Vá na tela inicial do sistema, em seguida clique no link <strong>Ver informações </strong> na tabela de <strong>Visitantes recentes</strong> na parte inferior da tela.
            </div>
        </div>
       

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Como faço para autorizar um visitante ou finalizar uma visita?</h6>
            </div>
            <div class="card-body">
                Vá na tela inicial do sistema, em seguida clique no link <strong>Ver informações </strong> na tabela de <strong>Visitantes recentes</strong> na parte inferior da tela. Em seguida na parte superior direta haverá um botão para autorizar visita se o visitante estiver aguardando autorização ou finalizar visita se o visitante já estiver em visita.
            </div>
        </div>

    </div>

</div>

    

    
{% endblock conteudo %}

