{% extends "base.html" %}

{% block conteudo %}

<div class="card shadow mb-4">        
    <div class="card-body">
        <h4 class="mb-3 text-primary">
            Contate-nos
        </h4>
    
        <form action="" method="POST">
            <div class="d-sm-flex align-items-center justify-content-between mb-4"> 
                {% csrf_token %}
                {{ form }}
                
            </div>
            <!--
                <div class="col-form-label-lg">
                    <div class="form-group col-md-4">
                        <label>E-mail</label>
                        <input type="text" class="form-control" value="">
                    </div>
    
                    <div class="form-group col-md-4">
                        <label>Assunto</label>
                        <input type="text" class="form-control" value="">
                    </div>
                    
                    <div class="form-group col-md-10">
                        <label>Escreva sua mensagem</label>
                        <input type="text" class="form-control" value="">
                    </div>
                </div>

            -->
            <div class="mr-1 text-right">
                <a href="{% url 'index' %}" class="btn btn-secondary text-white" type="button">
                    <span class="text">Voltar</span>
                </a>
                <a href="{% url 'contato'%}" class="btn btn-secondary text-white" type="button">
                    <span class="text">Cancelar</span>
                </a>
    
                <button class="btn btn-primary" type="submit" value="submit">
                    <span class="text">Enviar</span>
                </button>
    
                
            </div>

        </form>
    
        
    </div>
</div>

{% endblock conteudo %}