{% extends "base.html" %}

{% block conteudo %}

    

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Sobre</h1>
        
    </div>
    <p> 
        O projeto desenvolvido consiste na avaliação final da diciplina de Programação Web 2. Os alunos reponsveis por esse projeto são: 
    </p>
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <div class="col-lg-3 text-center">
            <div class="card mb-4 py-3 border-bottom-primary">

                <img class="card-body rounded-circle" src="/static/img/saul.jpg">
                <div class="card-body">
                    <b>SAUL ROCHA</b>

                </div>

            </div> 
        </div>

        <div class="col-lg-3 text-center">
            <div class="card mb-4 py-3 border-bottom-secondary">
            
                <img class="card-body rounded-circle" src="/static/img/jeands.jpg">
                <div class="card-body">
                    <b>JEANDERSON GOMES</b>
                </div>
                
            </div>
        </div>

        <div class="col-lg-3 text-center">
            <div class="card mb-4 py-3 border-bottom-warning">
        
                <img class="card-body rounded-circle" src="/static/img/mikas.jpg">
                <div class="card-body">
                    <b>FRANCISCO JOSÉ</b>

                </div>

            </div> 
        </div> 
        </div>
        <p> 
            A aplicação web abordada por esse projeto tem como objetivo 
            automatizar o processo de registro e administração de visitantes do condomínio Sésamo, provendo uma dashboard que possa ser acessada através de um navegador. Atualmente o condomínio conta com um 
            processo manual e utilizando cadernos como banco de registro das informações referentes aos visitantes e automatizar esse 
            processo se torna essencial por conta da necessidade de otimização das busca e cadastro dos registros, como também 
            melhorar a experiência de trabalho dos porteiros e ainda armazenar as informações garantindo a segurança e a confiabilidade.
        </p>
    </div>
    

    
</div>
    
{% endblock conteudo %}

